* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.left {
  flex: 0 0 250px;
  background-color: white;
}

.left ul li:nth-child(even) {
  background: #f0f0f0;
}

.left ul li {
  cursor: pointer;
  color: #333333;
  padding: 8px;
}

.right {
  flex: 1 0 0;
}