$main-color: #353535;

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .home-header {
    flex: 0 0 auto;

    h2 {
      text-align: center;
      color: $main-color;
      padding: 10px 0;

      span {
        font-size: 14px;
        color: $main-color;
      }
    }

    .scroller {
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      display: flex;
      display: -webkit-flex;
      margin-top: -10px;
      padding: 10px 0;
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;

      button {
        display: inline-block;
        width: auto;
        margin-bottom: 10px;
        padding: 5px 20px;
        color: white;
        background-color: $main-color;
        border: 0;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        -webkit-appearance: none;
        margin: 0 5px;
      }
    }
  }

  .home-body {
    flex: 1 0 0;
    padding: 5px;
    color: white;
    overflow: hidden auto;

    .list {
      position: relative;

      .list-item {
        position: absolute;
        border-radius: 5px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;
        font-size: 0;

        img {
          width: 100%;
        }
      }
    }

    .more-btn {
      cursor: pointer;
      font-size: 12px;
      color: red;
      text-align: center;
    }
  }
}