.ant-layout {
  height: 100vh;

  .ant-layout-sider {
    .ant-layout-sider-children {
      padding: 0;
    }
  }

  .ant-pro-layout-container {
    .ant-pro-layout-header {
      .ant-pro-global-header {
        margin-inline: 0;

        .ant-pro-global-header-logo {
          justify-content: center;
          align-items: center;
          width: 216px;
          margin-right: 0;
          border-right: 1px solid #0505050f;
          height: 56px;
          line-height: 56px;
          color: var(--primary);

          img {
            margin-right: 8px;
          }
        }
      }
    }

    .ant-pro-layout-content {
      padding: 0;

      .main-container {
        width: 100%;
        height: 100%;
        padding: 8px 8px 8px 8px;
        overflow: hidden;
      }
    }
  }
}

.global-api-loading {
  pointer-events: auto;
  position: absolute;
  top: -8px;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5)
}