@import './theme/vars';
@import './theme/custom';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.seasun-layout {

  .seasun-layout-container {
    .ant-layout-header {
      flex: 0 0 auto;
    }

    .ant-layout-content {
      display: block;
      flex: 1 0 0;
      overflow: hidden;
    }
  }

  .seasun-global-header {
    .seasun-global-header-logo {
      flex: 0 0 200px;
      border-right: 1px solid rgba(5, 5, 5, 0.06);
      margin-right: 0;
    }
  }

  .seasun-layout-content {
    // padding: 8px 8px 0 8px;
    padding: 0;

    .content-container {
      width: 100%;
      height: 100%;
      padding: 8px 8px 0 8px;
      overflow: auto;
    }
  }

  .ant-layout {
    height: 100vh;
  }

  .seasun-sider .ant-layout-sider-children {
    padding: 0;
  }
}

.global-api-loading {
  pointer-events: auto;
  position: absolute;
  top: -8px;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5)
}